$blue: #0d6efd;
$indigo: #251d31;
$purple: #332350;
$pink: #553b48;
$red: #271618;
$orange: #fd7e14;
$yellow: #2e2a1d;
$green: #030303;
$teal: #20c9962d;
$cyan: #0dcaf048;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
